<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<!-- shiroDbRealm为项目自定义的realm，通过注解声明 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDbRealm" />
		<property name="rememberMeManager" ref="rememberMeManager" />
	</bean>
	
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cookie" ref="rememberMeCookie" />
	</bean>
	
	<!-- 仅仅是一个cookie模版，用单例即可 -->
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<property name="name" value="rememberMe" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="604800" /><!-- 默认一年太长了，此处设为1周 -->
	</bean>
	
	<!-- 自定义的credentialsMatcher会通过注解注入到shiroDbRealm中 -->
	<bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" >
		<property name="hashAlgorithmName" value="MD5" />
		<property name="hashSalted" value="true" />
		<property name="hashIterations" value="3" />	<!-- 注意与AuthUtil.hashPassword中的迭代次数保持一致 -->
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
		<property name="successUrl" value="/main" />
		<property name="unauthorizedUrl" value="/unauthorized"/>
		<property name="filterChainDefinitions">
			<value>
				/register** = anon
				/login = authc
				/login/** = anon
				/logout = logout
				/static/** = anon
				/project/** = roles[super_admin]
				/admin/** = roles[super_admin]
				/** = user
			</value>
		</property>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
</beans>